.intro{
    background-color: #282C33;
    width: 1024px;
    height: 423px;
    margin-top: 62px;
    display: flex;
    .introduction{
        font-family: 'Fira Code', monospace;
        font-weight: 600;
        width: 519px;
        color: white;
        span{
            color: #C778DD;
        }
        h1{
            font-size: 32px;
            margin-top: 83px;
        }
        a{
            text-decoration: none; 
            color: white;
            width: 146px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #C778DD;
            font-weight: normal;
            margin-top: 25px;
        }
        a:hover{
            color: white;
            cursor: pointer;
            background-color: #C778DDCC;
        }
        p{
            color: gray;
            font-weight: normal;
            margin-top: 45px;
        }
    }
    .pic{
        width: calc(1024px - 519px);
        position: relative;
        .cont{
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
        }
        .elias{
            height: 386px;
            z-index: 2;
        }
        .logo{
            position: absolute;
            left: 29px;
            top: 86px;
            width: 155px;
            z-index: 1;
        }

        .currWork{
            font-family: 'Fira Code', monospace;
            font-weight: normal;
            width: 400px;
            height: 35px;
            display: flex;
            align-items: center;
            border: 1px solid gray;
            margin-left: 19px;
            .cubic{
                width: 16px;
                height: 16px;
                background-color: #C778DD;
                margin-left: 8px;
            }
            p{
                margin-left: 10px;
                color: gray;
                span{
                    color: white;
                }
            }
        }
    }
}